In [1]:
import saspy
sas = saspy.SASsession(cfgname='oda')

SAS Connection established. Subprocess id is 16800

### The sasdata class

In [3]:
cars = sas.sasdata('cars', libref='sashelp')

In [46]:
print(type(cars))
cars

<class 'saspy.sasdata.SASdata'>

Libref  = sashelp
Table   = cars
Dsopts  = {}
Results = Pandas

In [47]:
methods = []
for i in cars.__dir__():
    if not i.startswith('_'):
        methods.append(i)

methods.sort()

print(f"{len(methods) = }")

import math

def print_dir_style(lst, num_columns):
    max_len = max(len(item) for item in lst)
    num_rows = math.ceil(len(lst) / num_columns)

    # Create a list of lists, where each sub-list is a column in the output
    columns = [lst[i : i + num_rows] for i in range(0, len(lst), num_rows)]

    # Pad each string in each column to the max length so they line up correctly
    for col in columns:
        for i in range(len(col)):
            col[i] = col[i].ljust(max_len)

    # Print each row
    for i in range(num_rows):
        for col in columns:
            if i < len(col):
                print(col[i], end=" ")
        print()

print_dir_style(methods, 5)

len(methods) = 40
HTML        describe    libref      scatter     to_csv
add_vars    dsopts      means       score       to_df
append      engine      modify      series      to_df_CSV
assessModel head        obs         set_results to_df_DISK
bar         heatmap     partition   sort        to_frame
columnInfo  hist        rename      table       to_json
contents    impute      results     tabulate    top
delete      info        sas         tail        where

### ways to run and get results in df

In [2]:
df = sas.sasdata("cars", "sashelp")._returnPD(f"""
PROC FREQ DATA=sashelp.cars ORDER=FREQ;
    TABLES type * origin / out=_tmp;
RUN;
""", '_tmp')
df

      Type  Origin  COUNT    PERCENT
0    Sedan    Asia   94.0  21.962617
1    Sedan     USA   90.0  21.028037
2    Sedan  Europe   78.0  18.224299
3      SUV    Asia   25.0   5.841121
4      SUV     USA   25.0   5.841121
5      SUV  Europe   10.0   2.336449
6   Sports    Asia   17.0   3.971963
7   Sports     USA    9.0   2.102804
8   Sports  Europe   23.0   5.373832
9    Wagon    Asia   11.0   2.570093
10   Wagon     USA    7.0   1.635514
11   Wagon  Europe   12.0   2.803738
12   Truck    Asia    8.0   1.869159
13   Truck     USA   16.0   3.738318
14  Hybrid    Asia    3.0   0.700935

In [3]:

sas.submit(f"""
PROC FREQ DATA=sashelp.cars ORDER=FREQ noprint;
    TABLES type * origin / out=_tmp;
RUN;
""")
df = sas.sasdata('_tmp').to_df()
df

      Type  Origin  COUNT    PERCENT
0    Sedan    Asia   94.0  21.962617
1    Sedan     USA   90.0  21.028037
2    Sedan  Europe   78.0  18.224299
3      SUV    Asia   25.0   5.841121
4      SUV     USA   25.0   5.841121
5      SUV  Europe   10.0   2.336449
6   Sports    Asia   17.0   3.971963
7   Sports     USA    9.0   2.102804
8   Sports  Europe   23.0   5.373832
9    Wagon    Asia   11.0   2.570093
10   Wagon     USA    7.0   1.635514
11   Wagon  Europe   12.0   2.803738
12   Truck    Asia    8.0   1.869159
13   Truck     USA   16.0   3.738318
14  Hybrid    Asia    3.0   0.700935