In [1]:
import saspy
sas = saspy.SASsession(cfgname='oda')
# sas_html = saspy.SASsession(cfgname='oda', results='HTML')

SAS Connection established. Subprocess id is 18068

In [10]:
import pandas as pd
import numpy as np

In [2]:
cars = sas.sasdata('cars', libref='sashelp')

### metadata

In [ ]:
cars.columnInfo()

,Member,Num,Variable,Type,Len,Pos,Format,Label
0,SASHELP.CARS,9.0,Cylinders,Num,8.0,24.0,NaN,NaN
1,SASHELP.CARS,5.0,DriveTrain,Char,5.0,147.0,NaN,NaN
2,SASHELP.CARS,8.0,EngineSize,Num,8.0,16.0,NaN,Engine Size (L)
3,SASHELP.CARS,10.0,Horsepower,Num,8.0,32.0,NaN,NaN
4,SASHELP.CARS,7.0,Invoice,Num,8.0,8.0,DOLLAR8.,NaN
5,SASHELP.CARS,15.0,Length,Num,8.0,72.0,NaN,Length (IN)
6,SASHELP.CARS,11.0,MPG_City,Num,8.0,40.0,NaN,MPG (City)
7,SASHELP.CARS,12.0,MPG_Highway,Num,8.0,48.0,NaN,MPG (Highway)
8,SASHELP.CARS,6.0,MSRP,Num,8.0,0.0,DOLLAR8.,NaN
9,SASHELP.CARS,1.0,Make,Char,13.0,80.0,NaN,NaN
10,SASHELP.CARS,2.0,Model,Char,40.0,93.0,NaN,NaN
11,SASHELP.CARS,4.0,Origin,Char,6.0,141.0,NaN,NaN
12,SASHELP.CARS,3.0,Type,Char,8.0,133.0,NaN,NaN
13,SASHELP.CARS,13.0,Weight,Num,8.0,56.0,NaN,Weight (LBS)
14,SASHELP.CARS,14.0,Wheelbase,Num,8.0,64.0,NaN,Wheelbase (IN)

In [ ]:
cars.info()

       Type     Variable      N  Nmiss
0      char         Make  428.0    0.0
1      char        Model  428.0    0.0
2      char         Type  428.0    0.0
3      char       Origin  428.0    0.0
4      char   DriveTrain  428.0    0.0
5   numeric         MSRP  428.0    0.0
6   numeric      Invoice  428.0    0.0
7   numeric   EngineSize  428.0    0.0
8   numeric    Cylinders  428.0    2.0
9   numeric   Horsepower  428.0    0.0
10  numeric     MPG_City  428.0    0.0
11  numeric  MPG_Highway  428.0    0.0
12  numeric       Weight  428.0    0.0
13  numeric    Wheelbase  428.0    0.0
14  numeric       Length  428.0    0.0

In [ ]:
cars.rename()

<bound method SASdata.rename of Libref  = sashelp
Table   = cars
Dsopts  = {}
Results = Pandas
>

In [ ]:
wkcars.delete()

In [ ]:
cars.set_results()

<bound method SASdata.set_results of Libref  = sashelp
Table   = cars
Dsopts  = {}
Results = Pandas
>