In [1]:
import saspy
sas = saspy.SASsession(cfgname='oda')
# sas_html = saspy.SASsession(cfgname='oda', results='HTML')

SAS Connection established. Subprocess id is 18068

In [10]:
import pandas as pd
import numpy as np

In [2]:
cars = sas.sasdata('cars', libref='sashelp')

### The sasdata class

In [46]:
print(type(cars))
cars

<class 'saspy.sasdata.SASdata'>

Libref  = sashelp
Table   = cars
Dsopts  = {}
Results = Pandas

In [47]:
methods = []
for i in cars.__dir__():
    if not i.startswith('_'):
        methods.append(i)

methods.sort()

print(f"{len(methods) = }")

import math

def print_dir_style(lst, num_columns):
    max_len = max(len(item) for item in lst)
    num_rows = math.ceil(len(lst) / num_columns)

    # Create a list of lists, where each sub-list is a column in the output
    columns = [lst[i : i + num_rows] for i in range(0, len(lst), num_rows)]

    # Pad each string in each column to the max length so they line up correctly
    for col in columns:
        for i in range(len(col)):
            col[i] = col[i].ljust(max_len)

    # Print each row
    for i in range(num_rows):
        for col in columns:
            if i < len(col):
                print(col[i], end=" ")
        print()

print_dir_style(methods, 5)

len(methods) = 40
HTML        describe    libref      scatter     to_csv
add_vars    dsopts      means       score       to_df
append      engine      modify      series      to_df_CSV
assessModel head        obs         set_results to_df_DISK
bar         heatmap     partition   sort        to_frame
columnInfo  hist        rename      table       to_json
contents    impute      results     tabulate    top
delete      info        sas         tail        where

In [29]:
cars.assessModel(target = "msrp", prediction="invoice")

No event was specified for a nominal target. Here are possible options:

c:\Users\yzdom\AppData\Local\Programs\Python\Python312\Lib\site-packages\saspy\sasioiom.py:1056: UserWarning: Noticed 'ERROR:' in LOG, you ought to take a look and see if there was a problem
  warnings.warn("Noticed 'ERROR:' in LOG, you ought to take a look and see if there was a problem")

In [42]:
res = cars.contents()
type(res)

dict

In [44]:
res['Attributes']

,Member,Label1,cValue1,nValue1,Label2,cValue2,nValue2
0,SASHELP.CARS,Data Set Name,SASHELP.CARS,NaN,Observations,428,428.0
1,SASHELP.CARS,Member Type,DATA,NaN,Variables,15,15.0
2,SASHELP.CARS,Engine,V9,NaN,Indexes,0,0.0
3,SASHELP.CARS,Created,08/06/2020 01:11:21,1.912295e+09,Observation Length,152,152.0
4,SASHELP.CARS,Last Modified,08/06/2020 01:11:21,1.912295e+09,Deleted Observations,0,0.0
5,SASHELP.CARS,Protection,NaN,NaN,Compressed,NO,NaN
6,SASHELP.CARS,Data Set Type,NaN,NaN,Sorted,YES,NaN
7,SASHELP.CARS,Label,2004 Car Data,NaN,NaN,NaN,0.0
8,SASHELP.CARS,Data Representation,"SOLARIS_X86_64, LINUX_X86_64, ALPHA_TRU64, LIN...",NaN,NaN,NaN,0.0
9,SASHELP.CARS,Encoding,us-ascii ASCII (ANSI),NaN,NaN,NaN,0.0

In [45]:
res['Enginehost']

,Member,Label1,cValue1,nValue1
0,SASHELP.CARS,Data Set Page Size,65536,65536.0
1,SASHELP.CARS,Number of Data Set Pages,2,2.0
2,SASHELP.CARS,First Data Page,1,1.0
3,SASHELP.CARS,Max Obs per Page,430,430.0
4,SASHELP.CARS,Obs in First Data Page,405,405.0
5,SASHELP.CARS,Number of Data Set Repairs,0,0.0
6,SASHELP.CARS,Filename,/pbr/sfw/sas/940/SASFoundation/9.4/sashelp/car...,NaN
7,SASHELP.CARS,Release Created,9.0401M7,NaN
8,SASHELP.CARS,Host Created,Linux,NaN
9,SASHELP.CARS,Inode Number,134530653,134530653.0
10,SASHELP.CARS,Access Permission,rw-r--r--,NaN
11,SASHELP.CARS,Owner Name,odaowner,NaN
12,SASHELP.CARS,File Size,192KB,NaN
13,SASHELP.CARS,File Size (bytes),196608,196608.0

In [46]:
res['Variables']

,Member,Num,Variable,Type,Len,Pos,Format,Label
0,SASHELP.CARS,9.0,Cylinders,Num,8.0,24.0,NaN,NaN
1,SASHELP.CARS,5.0,DriveTrain,Char,5.0,147.0,NaN,NaN
2,SASHELP.CARS,8.0,EngineSize,Num,8.0,16.0,NaN,Engine Size (L)
3,SASHELP.CARS,10.0,Horsepower,Num,8.0,32.0,NaN,NaN
4,SASHELP.CARS,7.0,Invoice,Num,8.0,8.0,DOLLAR8.,NaN
5,SASHELP.CARS,15.0,Length,Num,8.0,72.0,NaN,Length (IN)
6,SASHELP.CARS,11.0,MPG_City,Num,8.0,40.0,NaN,MPG (City)
7,SASHELP.CARS,12.0,MPG_Highway,Num,8.0,48.0,NaN,MPG (Highway)
8,SASHELP.CARS,6.0,MSRP,Num,8.0,0.0,DOLLAR8.,NaN
9,SASHELP.CARS,1.0,Make,Char,13.0,80.0,NaN,NaN
10,SASHELP.CARS,2.0,Model,Char,40.0,93.0,NaN,NaN
11,SASHELP.CARS,4.0,Origin,Char,6.0,141.0,NaN,NaN
12,SASHELP.CARS,3.0,Type,Char,8.0,133.0,NaN,NaN
13,SASHELP.CARS,13.0,Weight,Num,8.0,56.0,NaN,Weight (LBS)
14,SASHELP.CARS,14.0,Wheelbase,Num,8.0,64.0,NaN,Wheelbase (IN)

In [47]:
res['Sortedby']

         Member         Label1    cValue1  nValue1
0  SASHELP.CARS       Sortedby  Make Type      NaN
1  SASHELP.CARS      Validated        YES      NaN
2  SASHELP.CARS  Character Set       ANSI      NaN

In [ ]:
wkcars.delete()

In [ ]:
engine

In [ ]:
impute

In [ ]:
modify

In [ ]:
partition

In [ ]:
rename

In [ ]:
results

In [ ]:
series

In [ ]:
set_results

In [ ]:
sort

In [ ]:
table

In [ ]:
tabulate

In [ ]:
where