In [1]:
import saspy
sas = saspy.SASsession(cfgname='oda')
# sas_html = saspy.SASsession(cfgname='oda', results='HTML')

SAS Connection established. Subprocess id is 20464

In [2]:
cars = sas.sasdata('cars', libref='sashelp')

### summary statistics

In [4]:
cars.means()

,Variable,Label,N,NMiss,Median,Mean,StdDev,Min,P25,P50,P75,Max
0,MSRP,NaN,428.0,0.0,27635.0,32774.855140,19431.716674,10280.0,20329.50,27635.0,39215.0,192465.0
1,Invoice,NaN,428.0,0.0,25294.5,30014.700935,17642.117750,9875.0,18851.00,25294.5,35732.5,173560.0
2,EngineSize,Engine Size (L),428.0,0.0,3.0,3.196729,1.108595,1.3,2.35,3.0,3.9,8.3
3,Cylinders,NaN,426.0,2.0,6.0,5.807512,1.558443,3.0,4.00,6.0,6.0,12.0
4,Horsepower,NaN,428.0,0.0,210.0,215.885514,71.836032,73.0,165.00,210.0,255.0,500.0
5,MPG_City,MPG (City),428.0,0.0,19.0,20.060748,5.238218,10.0,17.00,19.0,21.5,60.0
6,MPG_Highway,MPG (Highway),428.0,0.0,26.0,26.843458,5.741201,12.0,24.00,26.0,29.0,66.0
7,Weight,Weight (LBS),428.0,0.0,3474.5,3577.953271,758.983215,1850.0,3103.00,3474.5,3978.5,7190.0
8,Wheelbase,Wheelbase (IN),428.0,0.0,107.0,108.154206,8.311813,89.0,103.00,107.0,112.0,144.0
9,Length,Length (IN),428.0,0.0,187.0,186.362150,14.357991,143.0,178.00,187.0,194.0,238.0

In [3]:
cars.describe()

,Variable,Label,N,NMiss,Median,Mean,StdDev,Min,P25,P50,P75,Max
0,MSRP,NaN,428.0,0.0,27635.0,32774.855140,19431.716674,10280.0,20329.50,27635.0,39215.0,192465.0
1,Invoice,NaN,428.0,0.0,25294.5,30014.700935,17642.117750,9875.0,18851.00,25294.5,35732.5,173560.0
2,EngineSize,Engine Size (L),428.0,0.0,3.0,3.196729,1.108595,1.3,2.35,3.0,3.9,8.3
3,Cylinders,NaN,426.0,2.0,6.0,5.807512,1.558443,3.0,4.00,6.0,6.0,12.0
4,Horsepower,NaN,428.0,0.0,210.0,215.885514,71.836032,73.0,165.00,210.0,255.0,500.0
5,MPG_City,MPG (City),428.0,0.0,19.0,20.060748,5.238218,10.0,17.00,19.0,21.5,60.0
6,MPG_Highway,MPG (Highway),428.0,0.0,26.0,26.843458,5.741201,12.0,24.00,26.0,29.0,66.0
7,Weight,Weight (LBS),428.0,0.0,3474.5,3577.953271,758.983215,1850.0,3103.00,3474.5,3978.5,7190.0
8,Wheelbase,Wheelbase (IN),428.0,0.0,107.0,108.154206,8.311813,89.0,103.00,107.0,112.0,144.0
9,Length,Length (IN),428.0,0.0,187.0,186.362150,14.357991,143.0,178.00,187.0,194.0,238.0

In [5]:
cars.top("origin")

   Origin  COUNT    PERCENT
0    Asia  158.0  36.915888
1     USA  147.0  34.345794
2  Europe  123.0  28.738318

In [6]:
cars.top("cylinders")

   Cylinders  COUNT    PERCENT
0        NaN    2.0        NaN
1        6.0  190.0  44.600939
2        4.0  136.0  31.924883
3        8.0   87.0  20.422535
4        5.0    7.0   1.643192
5       12.0    3.0   0.704225
6       10.0    2.0   0.469484
7        3.0    1.0   0.234742

In [10]:
cars.top("enginesize", n=100)

    EngineSize  COUNT   PERCENT
0          3.0   42.0  9.813084
1          3.5   34.0  7.943925
2          2.0   30.0  7.009346
3          2.5   26.0  6.074766
4          1.8   23.0  5.373832
5          2.4   23.0  5.373832
6          4.6   21.0  4.906542
7          4.2   20.0  4.672897
8          3.2   18.0  4.205607
9          3.8   17.0  3.971963
10         2.2   15.0  3.504673
11         2.3   13.0  3.037383
12         2.7   12.0  2.803738
13         3.4   12.0  2.803738
14         1.6   10.0  2.336449
15         3.3   10.0  2.336449
16         4.0    8.0  1.869159
17         5.0    8.0  1.869159
18         4.3    8.0  1.869159
19         6.0    6.0  1.401869
20         1.5    6.0  1.401869
21         3.6    5.0  1.168224
22         4.4    5.0  1.168224
23         4.7    5.0  1.168224
24         5.3    5.0  1.168224
25         1.7    4.0  0.934579
26         2.8    4.0  0.934579
27         3.9    4.0  0.934579
28         4.5    4.0  0.934579
29         1.9    3.0  0.700935
30         2.6    3.0  0.700935
31         2.9    3.0  0.700935
32         3.7    3.0  0.700935
33         5.5    3.0  0.700935
34         5.7    3.0  0.700935
35         1.3    2.0  0.467290
36         4.8    2.0  0.467290
37         5.4    2.0  0.467290
38         5.6    2.0  0.467290
39         1.4    1.0  0.233645
40         3.1    1.0  0.233645
41         6.8    1.0  0.233645
42         8.3    1.0  0.233645