In [1]:
import saspy
sas = saspy.SASsession()

Using SAS Config named: oda
SAS Connection established. Subprocess id is 22500

### iris

In [2]:
sas.sasdata("iris","sashelp").head()

  Species  SepalLength  SepalWidth  PetalLength  PetalWidth
0  Setosa         50.0        33.0         14.0         2.0
1  Setosa         46.0        34.0         14.0         3.0
2  Setosa         46.0        36.0         10.0         2.0
3  Setosa         51.0        33.0         17.0         5.0
4  Setosa         55.0        35.0         13.0         2.0

##