In [1]:
import saspy
sas = saspy.SASsession(colorLOG=True)

Using SAS Config named: oda
SAS Connection established. Subprocess id is 11220

### prdsale

In [2]:
sas.sasdata("prdsale","sashelp").head()

,ACTUAL,PREDICT,COUNTRY,REGION,DIVISION,PRODTYPE,PRODUCT,QUARTER,YEAR,MONTH
0,925.0,850.0,CANADA,EAST,EDUCATION,FURNITURE,SOFA,1.0,1993.0,1993-01-01
1,999.0,297.0,CANADA,EAST,EDUCATION,FURNITURE,SOFA,1.0,1993.0,1993-02-01
2,608.0,846.0,CANADA,EAST,EDUCATION,FURNITURE,SOFA,1.0,1993.0,1993-03-01
3,642.0,533.0,CANADA,EAST,EDUCATION,FURNITURE,SOFA,2.0,1993.0,1993-04-01
4,656.0,646.0,CANADA,EAST,EDUCATION,FURNITURE,SOFA,2.0,1993.0,1993-05-01

### air

In [3]:
sas.sasdata("air","sashelp").head()

        DATE    AIR
0 1949-01-01  112.0
1 1949-02-01  118.0
2 1949-03-01  132.0
3 1949-04-01  129.0
4 1949-05-01  121.0

### stocks

In [4]:
sas.sasdata("stocks","sashelp").head()

  Stock       Date   Open   High    Low  Close     Volume  AdjClose
0   IBM 2005-12-01  89.15  89.92  81.56  82.20  5976252.0     81.37
1   IBM 2005-11-01  81.85  89.94  80.64  88.90  5556471.0     88.01
2   IBM 2005-10-03  80.22  84.60  78.70  81.88  7019666.0     80.86
3   IBM 2005-09-01  80.16  82.11  76.93  80.22  5772280.0     79.22
4   IBM 2005-08-01  83.00  84.20  79.87  80.62  4801386.0     79.62