In [1]:
import saspy
sas = saspy.SASsession(cfgname='oda', colorLOG=True)

SAS Connection established. Subprocess id is 16960

In [6]:
sas.sasdata("cars", libref= "sashelp").head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945.0,33337.0,3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820.0,21761.0,2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990.0,24647.0,2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195.0,30299.0,3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755.0,39014.0,3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [5]:
sas.submit(
'''
PROC TRANSPOSE DATA=sashelp.cars OUT=cars_transposed (DROP=_NAME_);
    BY make;
    VAR msrp;
RUN;
'''
)
sas.sasdata('cars_transposed').to_df()

,Make,COL1,COL2,COL3,COL4,COL5,COL6,COL7,COL8,COL9,...,COL19,COL20,COL21,COL22,COL23,COL24,COL25,COL26,COL27,COL28
0,Acura,36945.0,23820.0,26990.0,33195.0,43755.0,46100.0,89765.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Audi,25940.0,35940.0,31840.0,33430.0,34480.0,36640.0,39640.0,42490.0,44240.0,...,49090.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BMW,37000.0,52195.0,28495.0,30795.0,37995.0,30245.0,35495.0,36995.0,37245.0,...,41045.0,32845.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Buick,37895.0,26545.0,22180.0,26470.0,24895.0,28345.0,32245.0,35545.0,40720.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Cadillac,52795.0,46995.0,30835.0,45445.0,50595.0,47955.0,76200.0,52975.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Chevrolet,42735.0,41465.0,30295.0,20255.0,11690.0,12585.0,14610.0,14810.0,16385.0,...,27020.0,44535.0,51535.0,36100.0,18760.0,20310.0,40340.0,41995.0,22225.0,NaN
6,Chrysler,17985.0,22000.0,19090.0,21840.0,29865.0,24130.0,26860.0,25955.0,25215.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Dodge,32235.0,13670.0,15040.0,22035.0,18820.0,20220.0,24885.0,21795.0,32660.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Ford,41475.0,34560.0,29670.0,22515.0,13270.0,13730.0,15460.0,15580.0,19135.0,...,22010.0,33540.0,14385.0,17475.0,22290.0,NaN,NaN,NaN,NaN,NaN
9,GMC,31890.0,35725.0,46265.0,25640.0,16530.0,25717.0,29322.0,25395.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Honda,20140.0,19110.0,27560.0,19860.0,18690.0,13270.0,14170.0,15850.0,19860.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Hummer,49995.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Hyundai,21589.0,10539.0,11839.0,11939.0,13839.0,15389.0,15389.0,19339.0,20339.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Infiniti,28495.0,29795.0,32445.0,31145.0,42845.0,52545.0,34895.0,36395.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Isuzu,31849.0,20449.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Jaguar,29995.0,33995.0,43895.0,49995.0,63120.0,68995.0,59995.0,74995.0,69995.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Jeep,27905.0,20130.0,25520.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Kia,19635.0,16040.0,10280.0,11155.0,12360.0,13580.0,14630.0,18435.0,26000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Land Rover,72250.0,39250.0,25995.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Lexus,45700.0,64800.0,39195.0,32350.0,31045.0,32415.0,41010.0,48450.0,55750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Lincoln,52775.0,42915.0,32495.0,36895.0,40095.0,43495.0,41815.0,44925.0,50470.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MINI,16999.0,19999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Mazda,21087.0,15500.0,17200.0,19270.0,28750.0,22388.0,25193.0,25700.0,27200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Mercedes-Benz,76870.0,46470.0,26060.0,28370.0,32280.0,33480.0,35920.0,37630.0,38830.0,...,90520.0,121770.0,126670.0,40320.0,56170.0,33780.0,50670.0,60670.0,NaN,NaN
24,Mercury,29995.0,21595.0,24695.0,29595.0,23895.0,30895.0,34495.0,33995.0,22595.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Mitsubishi,30492.0,33112.0,18892.0,14622.0,16722.0,19312.0,17232.0,29282.0,25700.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Nissan,33840.0,27339.0,20939.0,12740.0,14740.0,19240.0,17640.0,23290.0,27490.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Oldsmobile,18825.0,23675.0,28790.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Pontiac,21595.0,15495.0,22450.0,22395.0,17735.0,24295.0,35995.0,23845.0,31370.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Porsche,56665.0,79165.0,84165.0,76765.0,192465.0,43365.0,52365.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Saab,30860.0,33360.0,35105.0,39465.0,40670.0,43175.0,40845.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Saturn,20585.0,10995.0,14300.0,15825.0,14850.0,16350.0,21410.0,23560.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Scion,12965.0,14165.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Subaru,19945.0,20445.0,25645.0,27145.0,29345.0,31545.0,25045.0,31545.0,24520.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Suzuki,23699.0,17163.0,12884.0,14500.0,12269.0,15568.0,17262.0,16497.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Toyota,20510.0,35695.0,27710.0,27930.0,54765.0,20290.0,14085.0,15030.0,15295.0,...,26510.0,30920.0,23495.0,28800.0,22570.0,25130.0,12800.0,16495.0,25935.0,16695.0
36,Volkswagen,35515.0,18715.0,19825.0,21055.0,21055.0,23785.0,23215.0,23955.0,33180.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Volvo,41250.0,25135.0,31745.0,34845.0,37560.0,37730.0,37885.0,40565.0,42565.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
sas.submitLOG("""
data fishdata;
   infile datalines missover;
   input Location & $10. Date date7.
         Length1 Weight1 Length2 Weight2 Length3 Weight3
         Length4 Weight4;
   format date date7.;
   datalines;
Cole Pond   2JUN95 31 .25 32 .3  32 .25 33 .3
Cole Pond   3JUL95 33 .32 34 .41 37 .48 32 .28
Cole Pond   4AUG95 29 .23 30 .25 34 .47 32 .3
Eagle Lake  2JUN95 32 .35 32 .25 33 .30
Eagle Lake  3JUL95 30 .20 36 .45
Eagle Lake  4AUG95 33 .30 33 .28 34 .42
;
""")
sas.sasdata('fishdata').to_df()

,Location,Date,Length1,Weight1,Length2,Weight2,Length3,Weight3,Length4,Weight4
0,Cole Pond,1995-06-02,31.0,0.25,32.0,0.30,32.0,0.25,33.0,0.30
1,Cole Pond,1995-07-03,33.0,0.32,34.0,0.41,37.0,0.48,32.0,0.28
2,Cole Pond,1995-08-04,29.0,0.23,30.0,0.25,34.0,0.47,32.0,0.30
3,Eagle Lake,1995-06-02,32.0,0.35,32.0,0.25,33.0,0.30,NaN,NaN
4,Eagle Lake,1995-07-03,30.0,0.20,36.0,0.45,NaN,NaN,NaN,NaN
5,Eagle Lake,1995-08-04,33.0,0.30,33.0,0.28,34.0,0.42,NaN,NaN

In [11]:
sas.submitLOG("""
proc transpose data=fishdata
     out=fishlength(rename=(col1=Measurement));
   var length1-length4;
   by location date;
run;
""")

sas.sasdata('fishlength').to_df()

      Location       Date   _NAME_  Measurement
0    Cole Pond 1995-06-02  Length1         31.0
1    Cole Pond 1995-06-02  Length2         32.0
2    Cole Pond 1995-06-02  Length3         32.0
3    Cole Pond 1995-06-02  Length4         33.0
4    Cole Pond 1995-07-03  Length1         33.0
5    Cole Pond 1995-07-03  Length2         34.0
6    Cole Pond 1995-07-03  Length3         37.0
7    Cole Pond 1995-07-03  Length4         32.0
8    Cole Pond 1995-08-04  Length1         29.0
9    Cole Pond 1995-08-04  Length2         30.0
10   Cole Pond 1995-08-04  Length3         34.0
11   Cole Pond 1995-08-04  Length4         32.0
12  Eagle Lake 1995-06-02  Length1         32.0
13  Eagle Lake 1995-06-02  Length2         32.0
14  Eagle Lake 1995-06-02  Length3         33.0
15  Eagle Lake 1995-06-02  Length4          NaN
16  Eagle Lake 1995-07-03  Length1         30.0
17  Eagle Lake 1995-07-03  Length2         36.0
18  Eagle Lake 1995-07-03  Length3          NaN
19  Eagle Lake 1995-07-03  Length4          NaN
20  Eagle Lake 1995-08-04  Length1         33.0
21  Eagle Lake 1995-08-04  Length2         33.0
22  Eagle Lake 1995-08-04  Length3         34.0
23  Eagle Lake 1995-08-04  Length4          NaN